Repository hmcts/rd-commondata-api, pull requests merged in 2022-10, with the labels that each got.

#222 service id changes
  src/contractTest/java/uk/gov/hmcts/reform/cdapi/provider/CommonDataApiProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cdapi/CommonDataApiFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cdapi/RetrieveCategoriesIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/cdapi/domain/CategoryKey.java
  src/main/java/uk/gov/hmcts/reform/cdapi/domain/ListOfValueDto.java
  src/main/java/uk/gov/hmcts/reform/cdapi/domain/QuerySpecification.java
  src/main/java/uk/gov/hmcts/reform/cdapi/service/impl/CrdServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/cdapi/helper/CrdTestSupport.java
  src/test/java/uk/gov/hmcts/reform/cdapi/service/impl/CrdServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-222

#223 RDCC-5671 Common: Change in the LoV API to return the generic category details when a Service ID is passed as an input parameter
  src/functionalTest/java/uk/gov/hmcts/reform/cdapi/CommonDataApiFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cdapi/RetrieveCategoriesIntegrationTest.java
  src/integrationTest/resources/db/testmigration/V1_6__Alter_List_Of_Values.sql
  src/main/java/uk/gov/hmcts/reform/cdapi/domain/QuerySpecification.java
  src/test/java/uk/gov/hmcts/reform/cdapi/domain/QuerySpecificationTest.java
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-223

#225 Code Smell Changes : RDCC-5596
  src/main/java/uk/gov/hmcts/reform/cdapi/controllers/response/Category.java
  src/test/java/uk/gov/hmcts/reform/cdapi/exception/UnauthorizedExceptionTest.java
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-225
