Repository hmcts/rd-commondata-api, pull requests merged in 2022-03, with the labels that each got.

#89 fix: Updated java chart version to 3.7.3
  charts/rd-commondata-api/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-89

#107 cve fix for jackson bind
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-107

#105 feat: RDCC-4149 Altered flag details table to add new mrd date columns
  src/integrationTest/resources/db/testmigration/V1_2__init_table_flag_details.sql
  src/main/resources/db/migration/V1_3__alter_flag_details.sql
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-105

#110 RDCC-4236_fix: Fix master build
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/cdapi/CommonDataApiFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cdapi/client/CommonDataApiClient.java
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-110

#106 Handle Verbose Error Messages
  src/main/java/uk/gov/hmcts/reform/cdapi/exception/handler/GlobalExceptionHandler.java
  src/test/java/uk/gov/hmcts/reform/cdapi/exception/handler/GlobalExceptionHandlerTest.java
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-106

#113 Point view to LOV Table
  src/main/java/uk/gov/hmcts/reform/cdapi/repository/ListOfVenueRepository.java
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-113

#114 Functional Test fix
  build.gradle
  src/main/java/uk/gov/hmcts/reform/cdapi/service/impl/CrdServiceImpl.java
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-114
