Repository hmcts/rd-commondata-api, pull requests merged in 2023-02, with the labels that each got.

#269 cve issue fix
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-269

#268 RDCC-6259: Adding & Upgrading Dependencies
  build.gradle
  config/owasp/suppressions.xml
  src/test/java/uk/gov/hmcts/reform/cdapi/service/impl/CaseFlagServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-268

#267 Rdcc 6237 common data api spring boot upgrade
  Dockerfile
  build.gradle
  charts/rd-commondata-api/Chart.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/cdapi/CommonDataApiFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cdapi/client/CommonDataApiClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/cdapi/util/ErrorInvalidRequestResponse.java
  src/integrationTest/java/uk/gov/hmcts/reform/cdapi/CdAuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cdapi/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cdapi/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cdapi/util/KeyGenUtil.java
  src/main/java/uk/gov/hmcts/reform/cdapi/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/cdapi/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/cdapi/controllers/CaseFlagApiController.java
  src/main/java/uk/gov/hmcts/reform/cdapi/controllers/CrdApiController.java
  src/main/java/uk/gov/hmcts/reform/cdapi/controllers/RootController.java
  src/main/java/uk/gov/hmcts/reform/cdapi/controllers/request/CategoryRequest.java
  src/main/java/uk/gov/hmcts/reform/cdapi/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/cdapi/controllers/CrdApiControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cdapi/oidc/JwtGrantedAuthoritiesConverterTest.java
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-267

#273 RDCC-6364: Adding entry to `audit.json`
  audit.json
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-273

#274 RDCC-6374: Upgrading chart version to 4.0.13
  charts/rd-commondata-api/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-274

#275 RDCC-6419 APP INSIGHT Log issue
  Dockerfile
  build.gradle
  charts/rd-commondata-api/values.yaml
  lib/AI-Agent.xml
  lib/applicationinsights.json
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-275

#278 RDCC-6432: Adding Suppression for `CVE-2022-45688`
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-278
