Repository hmcts/rd-commondata-api, pull requests merged in 2023-11, with the labels that each got.

#298 Enhance rd-commondata-api repository Unit test cases
  src/test/java/uk/gov/hmcts/reform/cdapi/repository/ListOfValuesRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/cdapi/repository/ListOfVenueRepositoryTest.java
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-298

#402 DTSRD-1466.Updating schema parameter with hibernate
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-402

#295 Feat:RDCC-6701:Changes made to enhance wiremock stubbed response
  src/integrationTest/java/uk/gov/hmcts/reform/cdapi/CdAuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cdapi/util/IntegrationTestOidcSecurityConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/cdapi/util/WireMockUtil.java
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-295

#403 Update acb.tpl.yaml
  acb.tpl.yaml
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-403

#397 Dtsrd 1473 2 records for same flag
  README.md
  src/main/java/uk/gov/hmcts/reform/cdapi/repository/CaseFlagRepository.java
Labels: ns:rd, prd:rd, no-changes, enable_keep_helm, rel:rd-commondata-api-pr-397

#405 change connection pool size
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-405

#409 merging master to perftest
  README.md
  acb.tpl.yaml
  build.gradle
  charts/rd-commondata-api/Chart.yaml
  config/owasp/suppressions.xml
  infrastructure/.terraform-version
  infrastructure/provider.tf
  src/integrationTest/java/uk/gov/hmcts/reform/cdapi/CdAuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cdapi/util/IntegrationTestOidcSecurityConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/cdapi/util/WireMockUtil.java
  src/main/java/uk/gov/hmcts/reform/cdapi/repository/CaseFlagRepository.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/cdapi/repository/ListOfValuesRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/cdapi/repository/ListOfVenueRepositoryTest.java
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-409
