Repository hmcts/rd-commondata-api, pull requests merged in 2024-02, with the labels that each got.

#422 DTSRD-2065 .Adding force_user_permissions_trigger to get access to DTS JIT Access rd DB Reader SC user
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:rd, prd:rd, destroy, rel:rd-commondata-api-pr-422

#427 Reordering of hearing attendance in HMC (List of Values)
  src/integrationTest/java/uk/gov/hmcts/reform/cdapi/RetrieveCategoriesIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/cdapi/service/impl/CrdServiceImpl.java
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-427

#429 Dtsrd 2109 2
  src/main/java/uk/gov/hmcts/reform/cdapi/service/impl/CrdServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/cdapi/helper/CrdTestSupport.java
  src/test/java/uk/gov/hmcts/reform/cdapi/service/impl/CrdServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-429

#434 Addresses CVE-2023-34042
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-434
