Repository hmcts/rd-commondata-api, pull requests merged in 2024-05, with the labels that each got.

#471 Fixing schema ownership
  infrastructure/main.tf
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-471, aat/destroy, prod/destroy

#493 Update schema ownership and force permission
  infrastructure/main.tf
Labels: ns:rd, prd:rd, aat/destroy, prod/destroy, rel:rd-commondata-api-pr-493

#494 DTSRD-2750.Decomissioning single server
  charts/rd-commondata-api/Chart.yaml
  charts/rd-commondata-api/values.yaml
  infrastructure/main.tf
  infrastructure/provider.tf
Labels: ns:rd, prd:rd, aat/destroy, prod/destroy, rel:rd-commondata-api-pr-494

#495 DTSRD-2750.Decomissioning single server
  charts/rd-commondata-api/Chart.yaml
  charts/rd-commondata-api/values.yaml
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-495

#496 Dtsrd 2750
  infrastructure/main.tf
Labels: ns:rd, prd:rd, aat/destroy, prod/destroy, rel:rd-commondata-api-pr-496

#497 DTSRD-2766
  build.gradle
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  src/contractTest/java/uk/gov/hmcts/reform/cdapi/provider/CommonDataApiProviderTest.java
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-497
