Repository hmcts/rd-commondata-api, pull requests merged in 2024-12, with the labels that each got.

#598 Fixing mutation tests
  src/test/java/uk/gov/hmcts/reform/cdapi/helper/CrdTestSupport.java
  src/test/java/uk/gov/hmcts/reform/cdapi/service/impl/CrdServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-598

#599 Fix master build
  src/test/java/uk/gov/hmcts/reform/cdapi/helper/CrdTestSupport.java
  src/test/java/uk/gov/hmcts/reform/cdapi/service/impl/CrdServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-599

#604 CME-248: Disable sync to ITHC for database monitoring testing
  Jenkinsfile_CNP
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-604

#603 CME-248: Database monitoring and alerting on RD repositories
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:rd, prd:rd, aat/add-or-update, prod/add-or-update, rel:rd-commondata-api-pr-603, ithc/add-or-update
