Repository hmcts/rd-commondata-api, pull requests merged in 2024-04, with the labels that each got.

#453 cve fix for 2023-1370
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-453

#438 DTSRD-1879: Case flags 2.1 ITHC Observation "Broken Access Control"
  src/contractTest/java/uk/gov/hmcts/reform/cdapi/provider/CommonDataApiProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cdapi/RetrieveCaseFlagsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cdapi/RetrieveExternallyAvailableCaseFlagsIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/cdapi/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/cdapi/repository/CaseFlagRepository.java
  src/main/java/uk/gov/hmcts/reform/cdapi/service/impl/CaseFlagServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cdapi/util/UserInfoUtil.java
  src/test/java/uk/gov/hmcts/reform/cdapi/repository/CaseFlagRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/cdapi/service/impl/CaseFlagServiceImplTest.java
  src/test/resources/Flag-Details.json
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-commondata-api-pr-438

#457 DTSRD-2442: PI33 Configure spot instances in non-production
  charts/rd-commondata-api/Chart.yaml
  charts/rd-commondata-api/values.yaml
Labels: ns:rd, prd:rd, aat/no-changes, rel:rd-commondata-api-pr-457

#459 Revert "DTSRD-1879: Case flags 2.1 ITHC Observation "Broken Access Control"
  src/contractTest/java/uk/gov/hmcts/reform/cdapi/provider/CommonDataApiProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cdapi/RetrieveCaseFlagsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cdapi/RetrieveExternallyAvailableCaseFlagsIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/cdapi/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/cdapi/repository/CaseFlagRepository.java
  src/main/java/uk/gov/hmcts/reform/cdapi/service/impl/CaseFlagServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cdapi/util/UserInfoUtil.java
  src/test/java/uk/gov/hmcts/reform/cdapi/repository/CaseFlagRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/cdapi/service/impl/CaseFlagServiceImplTest.java
  src/test/resources/Flag-Details.json
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-commondata-api-pr-459

#462 Change renovate automerge and chart-java version
  charts/rd-commondata-api/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-462

#470 Fixing azure extensions
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:rd, prd:rd, aat/add-or-update, rel:rd-commondata-api-pr-470

#486 Update pitest
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-commondata-api-pr-486
